body{
	background: url(../picture/map2/WoodBackground2.jpg);
	background-repeat: repeat;
}

div.opacity{
	background: rgba(0%,0%,0%,0.3);
}

div.wh{
	background: rgba(100%,100%,100%,0.3);
}
/*
div.mapbox{
	width:700px; height:800px
}

img.map-part{
	width: 80%;
	height: 80%;
}
*/